body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #121212;
	color: #fff;
}

.app {
	max-width: 900px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

input {
	padding: 10px;
	width: 100%;
	max-width: 400px;
	margin-bottom: 20px;
	border-radius: 6px;
	border: none;
}

.movies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 20px;
}

.movie-card {
	background: #1e1e1e;
	padding: 10px;
	border-radius: 8px;
	transition: transform 0.2s;
}

.movie-card:hover {
	transform: scale(1.1);
}

.movie-card img {
	width: 100%;
	border-radius: 5px;
}

.error {
	color: rgb(255, 30, 30);
}
